%h1 User Details

%div.well
  %h3 Firstname
  %p= current_user.firstname

  -#@todo: Ad14. rest of user fields, maybe place with avatar, password links

= link_to 'Back', :back, class: 'btn btn-default'
