@import 'bootswatch/cosmo/variables';
@import 'bootstrap';

// Bootstrap body padding for fixed navbar
body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.action-column {
  width: 40px;
}

@media(max-width: 350px) {
  .navbar-brand {
    font-size: 16px;
  }
}

@import 'bootswatch/cosmo/bootswatch';
