.table-responsive
  %table.table.table-striped
    %tr
      %th Content
      %th Rating
      %th Author
      %th Creation Date
      - reviews.each do |review|
        %tr
          %td= review.content
          %td= review.rating
          %td= review.author
          %td= review.creation_date
